@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');



.HomePage {
    width: max-content;
    height: 400px;
    margin: 0px;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
}

    .HomePage img {
        width: max-content;
        height: 400px;
        position: absolute;
        top: -10px;
        left: 0;
        z-index: 0;
        transition: all 0.4s ease-out;
    }

    .HomePage .text {
        /*   z-index:99; */
        position: absolute;
        padding: 30px;
        height: calc(100% - 60px);
    }

    .HomePage h1 {
        font-weight: 300;
        align-content: center;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    }

    .HomePage h2 {
        font-weight: 100;
        align-content:center;
        font-style: italic;
        transform: translateX(200px);
    }


.div-scroll {
    background-color: #eee;
    width: 200px;
    height: 230px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px thin;
    overflow: auto;
}

.upload-button {
    background-image: url('cloud-upload.jpg');
}

heading-home {
    align-content: center;
}

footer {
    bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 767.98px;
    background: #111;
}

.main-content {
    display: flex;
    margin:0px;
}

    .main-content .box {
        flex-basis: 50%;
    }

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 0px 0 0 0;
    position: relative;
}

    .box .content:before {
        position: absolute;
        content: '';
        top: -10px;
        height: 2px;
        width: 100%;
        background: #1a1a1a;
    }

    .box .content:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 15%;
        background: #f12020;
        top: -10px;
    }

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin:0px;
}

    .left .content .social a {
        padding: 0 2px;
    }

        .left .content .social a span {
            height: 40px;
            width: 40px;
            background: #1a1a1a;
            line-height: 40px;
            text-align: center;
            font-size: 18px;
            border-radius: 5px;
            transition: 0.3s;
        }

            .left .content .social a span:hover {
                background: #f12020;
            }

.center .content .fas {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

    .center .content .fas:hover {
        background: #f12020;
    }

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form .msg {
    margin-top: 10px;
}

.right form input, .right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}

    .right form input:focus,
    .right form textarea:focus {
        outline-color: #3498db;
    }

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

    .right form .btn button {
        height: 40px;
        width: 100%;
        border: none;
        outline: none;
        background: #f12020;
        font-size: 1.0625rem;
        font-weight: 500;
        cursor: pointer;
        transition: .3s;
    }

        .right form .btn button:hover {
            background: #000;
        }

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

    .bottom center span {
        color: #656565;
    }

    .bottom center a {
        color: #f12020;
        text-decoration: none;
    }

        .bottom center a:hover {
            text-decoration: underline;
        }

@media screen and (max-width: 767.98px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

        .main-content .box {
            margin: 5px 0;
        }
}



body {
    background-color: #eee
}

.wrap {
    width: max-content;
    display: flex;
    background-image: linear-gradient(180deg, #708090 30%, #302f2f 70%);
}
.tile-image {
    height: 100px;
    width: 180px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 0px;
    background-color: #99aeff;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
}
    .tile-image img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: all 0.4s ease-out;
    }


.tile {
    width: 180px;
    height: 300px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-top: 0px;
    background-color: #99aeff;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
}

    .tile img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: all 0.4s ease-out;
    }

    .tile .text {
        /*   z-index:99; */
        position: absolute;
        padding: 30px;
        height: calc(100% - 60px);
    }

    .tile h1 {
        font-weight: 300;
        margin: 0;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    }

    .tile h2 {
        font-weight: 100;
        margin: 20px 0 0 0;
        font-style: italic;
        transform: translateX(200px);
    }

    .tile p {
        font-weight: 300;
        margin: 20px 0 0 0;
        line-height: 25px;
        /*   opacity:0; */
        transform: translateX(-200px);
        transition-delay: 0.2s;
    }

.animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.tile:hover {
    /*   background-color:#99aeff; */
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
    transform: scale(1.05);
}

    .tile:hover img {
        opacity: 0.2;
    }

    .tile:hover .animate-text {
        transform: translateX(0);
        opacity: 1;
    }

.dots {
    position: absolute;
    bottom: 20px;
    right: 30px;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    color: currentColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

    .dots span {
        width: 5px;
        height: 5px;
        background-color: currentColor;
        border-radius: 50%;
        display: block;
        opacity: 0;
        transition: transform 0.4s ease-out, opacity 0.5s ease;
        transform: translateY(30px);
    }

.tile:hover span {
    opacity: 1;
    transform: translateY(0px);
}

.dots span:nth-child(1) {
    transition-delay: 0.05s;
}

.dots span:nth-child(2) {
    transition-delay: 0.1s;
}

.dots span:nth-child(3) {
    transition-delay: 0.15s;
}


@media (max-width: 767.98px) {
    .wrap {
        flex-direction: column;
        width: 400px;
    }
}



html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #ffffff;
}

VideoCard {
    height: 230px;
    width: 400px;
}

ul {
    list-style: none;
}
title {
    color: #ffffff;
    font-size:24px
}

ul li {
    list-style: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.searchtitle input[type=text] {
    width: 300px;
    height: 30px;
    background: #D3D3D3;
    border: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.searchtitle {
    float: left;
    margin: 7px;
}

    .searchtitle button {
        background: #0074D9;
        color: #f2f2f2;
        float: right;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        height: 30px;
        border: none;
        cursor: pointer;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
    }

langbody {
    font-family: 'Didact Gothic', sans-serif;
    color: #333;
    box-sizing: border-box;
}


langheader {
    background-color: #f2f2f2;
    height: 110px;
    padding: 10px 0;
}

langnav {
    float: right;
    display: flex;
    justify-content: space-between;
}

.langlogo {
    float: right;
    width: 100px;
}

    .langlogo img {
        width: 100px;
    }

.lang-menu {
    float: right;
    width: 150px;
    text-align: right;
    font-weight: bold;
    align-content: center;
    vertical-align: central;
    position: relative;
}

    .lang-menu .selected-lang {
        display: flex;
        width: 150px;
        text-align: left;
        font-weight: bold;
        align-content: center;
        vertical-align: central;
        position: relative;
        line-height: 2;
        justify-content:end;
        cursor: pointer;
    }

        .lang-menu .selected-lang:before {
            content: '';
            display: inline-block;
            width: 32px;
            height: 32px;
            background-image: url(https://www.countryflags.io/us/flat/32.png);
            background-size: contain;
            background-repeat: no-repeat;
        }

    .lang-menu ul {
        margin: 0;
        padding: 0;
        display: none;
        background-color: #fff;
        border: 1px solid #f8f8f8;
        position: absolute;
        top: 45px;
        right: 0px;
        width: 150px;
        border-radius: 5px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    }


        .lang-menu ul li {
            list-style: none;
            text-align: left;
            display: flex;
            justify-content: space-between;
        }

            .lang-menu ul li a {
                text-decoration: none;
                width: 150px;
                padding: 5px 10px;
                display: block;
            }

            .lang-menu ul li:hover {
                background-color: #f2f2f2;
            }

            .lang-menu ul li a:before {
                content: '';
                display: inline-block;
                width: 25px;
                height: 25px;
                vertical-align: middle;
                margin-right: 10px;
                background-size: contain;
                background-repeat: no-repeat;
            }

.de:before {
    background-image: url(https://www.countryflags.io/de/flat/32.png);
}

.en:before {
    background-image: url(https://www.countryflags.io/us/flat/32.png);
}

.fr:before {
    background-image: url(https://www.countryflags.io/fr/flat/32.png);
}

.ar:before {
    background-image: url(https://www.countryflags.io/ae/flat/32.png);
}



.cn:before {
    background-image: url(https://www.countryflags.io/cn/flat/32.png);
}

.cz:before {
    background-image: url(https://www.countryflags.io/cz/flat/32.png);
}

.tr:before {
    background-image: url(https://www.countryflags.io/tr/flat/32.png);
}

.se:before {
    background-image: url(https://www.countryflags.io/se/flat/32.png);
}


.es:before {
    background-image: url(https://www.countryflags.io/es/flat/32.png);
}

.ru:before {
    background-image: url(https://www.countryflags.io/ru/flat/32.png);
}

.pl:before {
    background-image: url(https://www.countryflags.io/pl/flat/32.png);
}

.in:before {
    background-image: url(https://www.countryflags.io/in/flat/32.png);
}


.lang-menu:hover ul {
    display: block;
    list-style: none;
}
keyword-box {
    color:black;
    border-bottom-right-radius: 40px;
    border-top-left-radius:40px;
    background: #F8F0E3;
    box-sizing: border-box;
}

.instance {
    margin: 0;
    padding: 0;
    text-align: center;
}

    .instance .sgLi {
        list-style: none;
        min-width: 24%;
        margin: 2% .35%;
        display: inline-flex;
        box-shadow: 0 2px 4px rgba(0,0,0, .2);
    }

        .instance .sgLi:hover {
            box-shadow: 0 5px 10px rgba(0,0,0,.15);
        }

    .instance .box {
        width: 100%;
        height: 100vh;
        padding: 1% 2%;
        background: #0000ff;
        background: #fff;
        min-height: 200px;
        max-height: 220px;
        box-sizing: border-box;
    }

.SG {
    margin: 0;
    padding: 0;
    text-align: center;
}

    .SG .sgLi {
        min-width: 24%;
        list-style: none;
        margin: 2% .35%;
        display: inline-flex;
        background: #2A2A2A;
        box-shadow: 0 2px 4px rgba(0,0,0, .2);
    }

        .SG .sgLi:hover {
            box-shadow: 0 5px 10px rgba(0,0,0,.15);
            background: #2A2A2A;
            list-style: none;
        }

    .SG .box {
        width: 100%;
        padding: 1% 2%;
        border-radius: 10px;
        background: #2A2A2A;
        box-sizing: border-box;
    }
/*Styles */
.df {
    list-style: none;
}
.search input[type=text] {
    width: 400px;
    height: 40px;
    border: thin;
    background:#B2FFFF;
    border: none;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
}

.search InputText[type=text] {
    width: 400px;
    height: 40px;
    border: thin;
    background: #B2FFFF;
    border: none;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
}

.search {
    float: left;
    margin: 7px;
   
}

    .search button {
        background-color: #0074D9;
        color: #f2f2f2;
        float: right;
        height: 40px;
        width: 70px;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
    }

.button_transcript {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    padding:10px;
}



form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

    form.example button:hover {
        background: #0b7dda;
    }

form.example::after {
    content: "";
    clear: both;
    display: table;
}




app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    background-image: linear-gradient(180deg, #000000 30%, #302f2f 70%);
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.language_css {
    background-image: linear-gradient(180deg, #000000 30%, #302f2f 70%);
    margin-left: 8rem;
    color: #4169e1
}

.main {
    flex: 1;
    background-image: url('background.png');
}

    .main .top-row {
        background-image: linear-gradient(180deg, #000000 30%, #302f2f 70%);
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            background-image: linear-gradient(180deg, #000000 30%, #302f2f 70%);
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            background-image: linear-gradient(180deg, #000000 30%, #302f2f 70%);
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-image: linear-gradient(180deg, #000000 30%, #302f2f 70%);
}

    .sidebar .top-row {
        background-image: linear-gradient(180deg, #000000 30%, #302f2f 70%);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
        font-size: large;
        background-image: linear-gradient(180deg, #000000 30%, #302f2f 70%);
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
