@using VideoAnalyzer.Client.Themes
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main @CurrentTheme.MainContainerClass">
    <CascadingValue Value="@CurrentTheme">
        <div class="top-row px-4">
            <form action="#" class="searchtitle">
                <input type="text"
                    placeholder="Search..."
                    name="search">
                <button type="button">
                    <i class="oi oi-magnifying-glass"
                        style="font-size: 18px;">
                    </i>
                </button>
             </form>
             <LanguageSelector></LanguageSelector>
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        <div class="content px-4">           
            <div class="container">
                @Body
            </div>
        </div>
    </CascadingValue>
</div>
@code {
    private ThemeConfiguration CurrentTheme { get; set; } =
        new ThemeConfiguration()
        {
            PrimaryButtonClass = "btn btn-warning",
            RequiredFieldIndicatorClass = "text-danger",
            MainContainerClass= "bg-light text-dark"
        };
}
