<a href="@LinkUrl">
    <div class="card" style="width: 250px; height:180px;">
        <div class=" card-header" style="height:5em;color:blue;">
            @VideoName
        </div>
        <img class="card-img-top" src="@ThumbnailSrc" alt="Card image cap" height="180" width="250">
        <div class="card-body">
            <p class="card-text" style="height:10em;color:blue;">
                @VideoDescription
            </p>
        </div>
    </div>
</a>

@code {
    [Parameter]
    public string LinkUrl { get; set; }
    [Parameter]
    public string VideoName { get; set; }
    [Parameter]
    public string ThumbnailSrc { get; set; }
    [Parameter]
    public string VideoDescription { get; set; }
}